/* if staggered boxes need to have different class names on each, if not 3 staggered boxes can use one class */

.about-card {
    background-color: #6a5049;
    opacity: 0.8;
    margin: 1rem;
    border: 2px solid white;
    color: white;
    line-height: 1.5rem;
    text-align: center;
  
    
}


/* @media (max-width: 700px) {
    .about-card {
        margin-right: 0;
        margin-top: 3rem;
        background-color: black;
    }
}  */