.container h2{
    font-size: 5rem;
    font-weight: bolder;
}

.container p {
    margin-left: 5px;
}


.about-container{
    background-color: #6a5049;
    height: 100%;
    border: 2px solid white;
    opacity: 0.8;
    margin-left: 0.9rem;
    display: flex;
    margin-top: 1rem;
    color:white;
}


.about-container p {
    width: 65%;
    padding: 3%;
    font-size: 2rem;
    line-height: 1.9rem;
    text-align: start;
    
}

.about-container img {
    width:35%;
    align-content: center;
}