
.home-content h2{
    font-size: 5rem;
    font-weight: bolder;
    margin-top: 2rem;
    
}

.home-content p {
    font-size: 2rem;
}



.home-content p{
    margin-left: .5rem;
}

.home-icons {
    position: fixed;
    bottom: 0;
    border: 5px solid black;    
}


 @media(max-width: 800px){
    .home-icons > * {
       margin-right: 0;
    }
} 





@media(max-width: 750px) {
    .background h2 {
        font-size: 3rem;
    }
    .background p {
        font-size: 2rem;
    }
    .home-icons {
        margin-left: 0rem;
    }
}
