
.background h2{
    font-size: 5rem;
    font-weight: bolder;
    
}

.background p {
    margin-left: 20rem;
}



.background p{
    margin-left: .5rem;
}

/* media queries */
@media(max-width: 700px) {
    .background h2 {
        font-size: 3rem;
    }
    .background p {
        font-size: 2rem;
    }
}
