/* Animations */
.nav-wrapper{
    animation-duration: 1.5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}


/* media queries */

@media(max-width: 700px) {
    .navbar-expand{
        width: 100%;
        margin: 0;
        padding: 0;
        height: 9rem;
    }
    .nav-item{
        margin-top:0;
    }
    .nav-item .nav-link {
        margin-left: 0;
        display: flex;
    }
}

@media(max-width: 700px) {
    
}