
/* Animations */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* project page styling */
.card-container {
    display: flex;
    margin-top: 3rem;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.card {
    width: 34rem;
    height: 20rem;
    background-color: #7a7573;
    margin: 0 auto;
    padding: 0px;
}

.card-title {
    color: white;
    font-size: 2.2rem;
}

.card-text {
    color: white;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 2rem;
}
 
.card-button {
    margin-bottom: 1.5rem;
    position: absolute;
    bottom: 0; 
    background-color: #ab694f; 
    border: 1px solid white;
}





